<!-- ===== App.config ===== -->
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
  <appSettings>
    <add key="EnableDiagnostics" value="true"/>
    <add key="MaxLogSizeMB" value="50"/>
    <add key="DefaultCommunicationTimeout" value="5000"/>
    <add key="EnableTelemetry" value="false"/>
  </appSettings>
  
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="WabiSabiL1Cache"
             cacheMemoryLimitMegabytes="512"
             physicalMemoryLimitPercentage="0"
             pollingInterval="00:02:00"/>
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MessagePack" publicKeyToken="b4a0369545f0a1be" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

